body {
  background-color: #181818;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#editor {
  width: 600px;
  height: 400px;
  background-color: #101010;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

button {
  background-color: #000;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

button:focus {
  outline: none;
}
